# FRONTEND
# Insert ngrok url here
VITE_GLOBAL_BACKEND_URL=
VITE_DIRECT_BACKEND_URL=http://localhost:8080
VITE_PUBLIC_TEZOS_RPC_URL=https://ghostnet.ecadinfra.com/

# BACKEND
# Insert ngrok url here
GLOBAL_SERVER_URL=

PG_DB_ROOT_USERNAME=postgres
PG_DB_ROOT_PASSWORD=postgres
PG_DB_DATABASE=gx-credentials
PG_DB_PORT=5432
PG_DB_DOCKER_PORT=5432

AUTH_SECRET=somereallysecretsecret

TEZOS_RPC_URL=https://ghostnet.ecadinfra.com/
# Insert address of the deployed registry contract
TEZOS_REGISTRY_CONTRACT=

