NEXTAUTH_SECRET=somereallysecretsecret
JWT_SECRET=itshouldbealsoverysecret
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_MY_NAMESPACE=1b671a64-40d5-491e-99b0-da01ff1f3341

NEXT_PUBLIC_TEZOS_RPC_URL=https://ghostnet.ecadinfra.com/
NEXT_PUBLIC_TEZOS_REGISTRY_CONTRACT=https://ghostnet.ecadinfra.com/

# Insert ngrok url here
GLOBAL_SERVER_URL=

BACKEND_API_URL=http://localhost:8080

PG_DB_ROOT_USERNAME=postgres
PG_DB_ROOT_PASSWORD=postgres
PG_DB_DATABASE=gx-credentials
PG_DB_PORT=5432
PG_DB_DOCKER_PORT=5432

EXPRESS_DOCKER_PORT=8080